html,
body {
  padding: 0px;
  margin: 0px;
}
.container-flex {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.navbar {
  line-height: 1vh !important;
  height: 7vh;
  padding-top: 0rem;
  padding-bottom: 0rem;
  min-height: 2rem;
  border-bottom: 2px solid #0a9bb8;
  width: 100%;
}

.navbar-brand {
  /*   font-size: 3vh !important; */
}
aside {
  height: 93vh;
  background-color: #9eeaf987;
  min-width: 6rem;
  width: 20%;
  color: #1c1c1c;
  border-right: 2px solid #9eeaf9;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0rem 0.5rem;
}
.aside-title {
  font-size: 1.5em;
  color: #1c1c1c;
}
.directory-container {
  flex-direction: column !important;
  margin: 0rem 0rem 1rem 0rem;
  height: 80vh;
}
.first-folder {
  height: 100%;
  border-radius: 8px;
  border: 1px solid darkgrey;
  overflow-x: auto;
  width: 100%;
}
.sub-options {
  width: 40rem;
}
.nav-link {
  color: #1c1c1c;
}
.nav-item {
  margin: 0.5rem;
  border-radius: 8px;
  border: 1px solid grey;
}
.nav-sub-item {
}
.selector-for-some-widget {
  box-sizing: content-box;
}

.file-form{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.form-control{
  width: 50%;
}
main {
  width: 80%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(211, 211, 211, 0.371);
  height: 93vh;
  overflow-y: auto;
}
.header {
  display: flex;
  width: 90%;
  flex-direction: column;
}
.content {
    border: 2px solid grey;
    border-radius: 6px;
    /* flex-wrap: wrap; */
    padding: 0px;
    width: 90%;
    height: 80vh;
    overflow-y: auto;
    background-color: white;
    display: flex;
    margin-bottom: 1rem;
}
.explorer{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    overflow-y: auto;
}
.item {
  display: flex;
  height: 15vh;
  width: 14%;

}
.item a {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.item a svg {
  width: 100%;
  height: 100%;
}
